:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    }
    
    body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    }
    
    *{
        margin: 0;
        padding: 0;
    }

    #button {
        display: inline-block;
        background-color: aqua;
        box-shadow: 5px 5px 0px #00030c;
        padding: 18px 20px;
        margin-right: 0;
        transition: transform 2s
    }

    #button.houver {
        transform: scale(1.08);
    }
    