.{
    margin: 0;
    padding: 0;
}

body{

}
.cabecalho{
    background-color: rgb(0, 255,242);
    color: rgb(0, 0, 0);
    display: block;
    justify-content: baseline;
    padding: auto;
    margin; auto;
}

#logoalura{
    width: 20%;
}

.listaitens{
    display: inline-block;
}